/* Playlist.css */
.Playlist {
    width: 100%;
    text-align: left;
   
}

.Playlist-title {
    font-size: 24px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #ff4500; /* Orange */
    color: #0073e6; /* Blue */
    background: none;
}
.playlistName input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border: 1px solid #ff4500; /* Orange */
    border-radius: 20px;
}
.Playlist h2{
    padding-bottom: 20px;
}
.Playlist-save {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff4500; /* Orange */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.Playlist-save:hover {
    background-color: #e63e00; /* Darker Orange */
}
