
.playlistName input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border: 1px solid #ff4500; /* Orange */
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}
.Playlist {
    width: 100%;
    max-width: 960px;  /* Match the other components */
    margin: 20px auto;
    background-color: #f1efef;  /* Slightly lighter than body for visibility */
    padding: 20px;
    border-radius: 5px;
}

.Playlist-title {
    font-size: 24px;
    border: none;
    color: #ff4500;  /* Orange */
    background: none;
    width: 100%;
    text-align: center;
}

.Playlist-save {
    width: 100%;
    padding: 10px 0;
    background-color: #0073e6;  /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.Playlist-save:hover {
    background-color: #005fa3;  /* Darker blue */
}
