.SearchBar {
    margin-top: 20px;
    width: 100%;
    max-width: 960px;  /* Limit max width for larger screens */
    display: flex;
    justify-content: center;
}

.SearchBar input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
}

.SearchButton {
    padding: 10px 20px;
    background-color: #0073e6;  /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.SearchButton:hover {
    background-color: #005fa3;  /* Darker blue */
}
