/* App.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 20px;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    display: flex;
    justify-content: left;
    font-size: 100px;
    color: #ff4500; /* Orange */
}

.highlight {
    color: #0073e6; /* Blue */
}
.App {
    display: flex;
    justify-content: space-between; /* Keeps search and playlist on opposite sides */
    align-items: flex-start; /* Aligns items to the top */
    padding: 20px;
}

.Search-container {
    width: 100%; /* Adjust based on your preference */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
}

.Playlist {
    margin-top: 250px;
    width: 100%; /* Adjust based on your preference */
    margin-right: 500px;
}  